In [1]:
# Comparing function to anonymous function

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Generate a pandas DataFrame with 5 rows and 5 columns filled with random 
# integers. A pandas DataFrame is a 2-dimensional labeled data structure with 
# columns of potentially different types
df = pd.DataFrame(np.random.randint(low=0, high=9, size=(5, 5)))

In [5]:
df

   0  1  2  3  4
0  7  7  0  5  1
1  8  1  4  3  5
2  1  7  1  4  8
3  3  8  2  4  8
4  4  3  4  2  2