# randomized allocation of persons to seats over several iterations 

## Goals/Limitations 
- All persons will be allocated a seat on a randomised basis. 
- These allocations will be repeated over several iterations. 
---

In [1]:
import pandas as pd
import random

Please provide the names of all persons requiring a seat as comma separated values **without** spaces. 

e.g. ```Alice,Bob,Carol,Dan```

In [2]:
names_input = input()

Alice,Bob,Carol,Dan

In [3]:
# takes the input and splits the string to a list 
# see https://stackoverflow.com/questions/7844118/
names = names_input.split(",")

In [4]:
type(names)

list

In [5]:
print("Persons to be seated: " + str(names))

Persons to be seated: ['Alice', 'Bob', 'Carol', 'Dan']

In [6]:
number_of_seats = len(names)
print('Number of seats required: ' + str(number_of_seats))

Number of seats required: 4

How many interations shall we compute?

In [7]:
iterations = pd.Series(range(0,int(input())))

4

Next we need to create a DataFrame with as many columns (filled with consecutive numbers) as number of seats.

In [8]:
seats = pd.Series(range(1,(number_of_seats+1)))

In [9]:
df = pd.DataFrame(columns=seats)

Now we will shuffle the list of names and append it to the DataFrame for every iteration.

In [10]:
for i in iterations:
    random.shuffle(names)
    df.loc[i+1] = names
    # see https://docs.python.org/2/library/random.html#random.shuffle 
    # see https://stackoverflow.com/questions/10715965/

In [11]:
df

       1      2      3      4
1    Dan  Alice    Bob  Carol
2    Bob  Alice    Dan  Carol
3  Carol  Alice    Bob    Dan
4  Carol    Bob  Alice    Dan